extends layout

block content
	div(class="what")
	div(class="content")
		a(href="/downloads/SmartTransact.apk", class="download")
			img#androidImage(src="/images/Android.png")
			| Download Android App