extends layout

block content
	div(class="what")
	div(class="content")
		a(href="/downloads/SmartTransact.apk", class="download")
			img(src="/images/Android.png", id="androidImage")
			| Download Android App