extends layout

block content
	div(class="what")
		p Smart Transact allows you to make payments without handing out credit card information keeping your account safe online
	div(class="content")
		div(class="centered")
			img(src="/images/ScreenShot.png",id="screenShot")
			p(class="leftCaption") Payments are made simple and secure by utilizing modern cryptography on your smart phone
		div(style="clear:left")